apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: postfix
resources:
  - namespace.yaml
  - docker-secret
  - postfix
  - statefulset.yaml
  - service.yaml
  - storageclass.yaml


